/universidad/inicial/target/
/universidad/primero/target/
/universidad/webConjsp/nbproject/private/
/universidad/webConjsp/build/
/universidad/web/nbproject/private/
/universidad/web/build/
/universidad/jsp/basico/nbproject/private/
/universidad/jsp/basico/build/
/universidad/jsp/primera/nbproject/private/
/universidad/jsp/primera/build/
/universidad/jsp/primera/dist/
/universidad/jsp/jsf1/nbproject/private/
/universidad/jsf/jsf1/target/
/universidad/jsf/framework/nbproject/private/
/universidad/jsf/framework/build/
/universidad Nacional/1Resta/target/
/universidad Nacional/miniretos/2condicionales/target/
/universidad Nacional/retos/1Resta/target/
/universidad Nacional/miniretos/1anos/target/
/universidad Nacional/retos/2groot/target/
/universidad Nacional/New Folder/Poo/target/
/universidad/jsp/2borrar/nbproject/private/
/universidad/jsp/2borrar/build/
/universidad/jsp/2borrar/dist/
/universidad/jsp/registrar/nbproject/private/
/universidad/jsp/registrar/build/
/universidad/jsp/jsfCrud/nbproject/private/
/universidad/jsp/jsfCrud/build/
/universidad/jsp/crud/nbproject/private/
/universidad/jsp/crud/build/
/universidad/jsp/crud/dist/
/universidad/jsp/Tienda/nbproject/private/
/universidad/jsp/Tienda/build/
/universidad/jsp/Tienda/dist/
/universidad/jsp/webtienda/nbproject/private/
/universidad/jsp/webtienda/build/
/universidad/jsp/Crud/nbproject/private/
/universidad/jsp/Crud/build/
/universidad/jsp/webCruedjsf/nbproject/private/
/universidad/jsp/webCruedjsf/build/
/universidad/jsp/lol/nbproject/private/
/universidad/jsp/lol/build/
/universidad/jsp/lol/dist/
/universidad/jsp/cruds/nbproject/private/
/universidad/jsp/cruds/build/
/universidad/jsp/WebApplication1/nbproject/private/
/universidad/jsp/WebApplication1/build/
/universidad/jsp/WebApplication1/dist/
/universidad/jsp/databse/nbproject/private/
/universidad/jsp/databse/build/
/universidad/jsp/crudjsf/nbproject/private/
/universidad/jsp/crudjsf/build/
/universidad/jsp/tienda/nbproject/private/
/universidad/jsp/tienda/build/
/universidad/jsp/crudjsf/dist/
/universidad Nacional/sesiones/7casa/nbproject/private/
/universidad Nacional/sesiones/7casa/build/
/universidad Nacional/retos/3carros/nbproject/private/
/universidad Nacional/retos/3carros/build/
/universidad Nacional/pacticas/jfrane/nbproject/private/
/universidad Nacional/pacticas/jfrane/build/
/universidad/jsp/jiren/nbproject/private/
/universidad/jsp/jiren/build/
/universidad/jsp/tienda/dist/
/universidad/jsp/webcrud/nbproject/private/
/universidad/jsp/webcrud/build/
/universidad/jsp/tiendaCrud/nbproject/private/
/universidad/jsp/tiendaCrud/build/
/universidad/jsp/tiendaVirutal/nbproject/private/
/universidad/jsp/tiendaVirutal/build/
/universidad/jsp/kakaroto/nbproject/private/
/universidad/jsp/kakaroto/build/
/universidad/jsp/WebApplication2/nbproject/private/
/universidad/jsp/WebApplication2/build/
/universidad/holamundo-jsf/target/
/universidad/jsf/holamundo-jsf/target/
/universidad/jsf/crud/target/
/universidad/jsf/crudJsf/nbproject/private/
/universidad/jsf/crudJsf/build/
/universidad/jsf/WebApplication1/nbproject/private/
/universidad/jsf/WebApplication1/build/
/universidad/jsf/WebApplication1/dist/
/universidad/jsf/tienda/nbproject/private/
/universidad/jsf/tienda/build/
/universidad/jsf/tienda3/nbproject/private/
/universidad/jsf/tienda3/build/
/universidad/jsf/tienda3/dist/
/universidad/jsf/tienda/target/
/universidad/jsf/kamisama/nbproject/private/
/universidad/jsf/kamisama/build/
/universidad/jsf/kamisama/dist/
/universidad/jsf/lol/nbproject/private/
/universidad/jsf/lol/build/
/universidad/jsf/lol/dist/
/universidad/jsf/jiren/nbproject/private/
/universidad/jsf/jiren/build/
/universidad/jsf/jiren/dist/
/carros/target/
/universidad/spring/crud/target/
/universidad/jsf/BorrarBorrarJSF/dist/
/universidad/jsf/jeje/nbproject/private/
/universidad/jsf/jeje/build/
/universidad/jsf/ultimoJSF/nbproject/private/
/universidad/jsf/ultimoJSF/build/
/universidad/jsf/kisama/nbproject/private/
/universidad/jsf/kisama/build/
/universidad/jsf/WebApplication2/nbproject/private/
/universidad/jsf/WebApplication2/build/
/universidad/jsf/WebApplication3/nbproject/private/
/universidad/jsf/WebApplication3/build/
/universidad/jsf/jsf/nbproject/private/
/universidad/jsf/jsf/build/
/universidad/jsf/tienda/dist/
/universidad Nacional/sesiones/aplicacionmysql/target/
/universidad Nacional/sesiones/ArtCuratorMaven/target/
/practicas/tabs/target/
/practicas/mavenproject1/target/
